<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>RouterFilter</filter-name>
        <filter-class>filter.RouterFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RouterFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>Servlet.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllEmployeeAjax</servlet-name>
        <servlet-class>control.employee.ViewAllEmployeeAjax</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>ViewScheduleServlet</servlet-name>
        <servlet-class>controllers.ViewCalendarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllNews</servlet-name>
        <servlet-class>control.news.GetAllNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDetailNew</servlet-name>
        <servlet-class>control.news.GetDetailNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertNews</servlet-name>
        <servlet-class>control.news.InsertNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNews</servlet-name>
        <servlet-class>control.news.DeleteNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetInfoNews</servlet-name>
        <servlet-class>control.news.GetInfoNews</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllEmployeeAjax</servlet-name>
        <url-pattern>/ViewAllEmployeeAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewScheduleServlet</servlet-name>
        <url-pattern>/ViewCalendarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllNews</servlet-name>
        <url-pattern>/getallnews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDetailNew</servlet-name>
        <url-pattern>/getdetailnew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertNews</servlet-name>
        <url-pattern>/insertNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNews</servlet-name>
        <url-pattern>/deletenews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetInfoNews</servlet-name>
        <url-pattern>/GetInfoNews</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
